grant {
  permission java.net.SocketPermission "*:1024-65535","connect,resolve,accept";
  permission java.net.SocketPermission "*:0-65535","connect,resolve";
  permission java.lang.RuntimePermission "*";
  permission java.io.FilePermission "*","read,write,delete";
  permission java.io.FilePermission "Cache/*","read,write,delete";
};

